.bg-cons {
    width: 100%;
    height: 100%;
    background-size: unset;
    background-position-x: unset;
    background-position-y: unset;
    background-image: none;
    background-color: #eae9e9;
}